.mobile-selector {
  &__container > ul {
    position: relative;
    display: flex;
    justify-content: center;
    list-style-type: none;

    li {
      display: flex;
      width: 30%;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      img {
        height: 10rem;
      }
    }
  }
}
