@import '../../../styles/variables';

.summary {

  &__container {
    background: $color-white;
    display: flex;
    flex-direction: column;
  }

  &__heading-container {
    position: relative;
    border: 1px solid darkblue;
    padding-top: $top-navigation-height;
    flex-shrink: 0;
    max-height: 50%;
  }

  &__selling-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background: $color-blue;
    color: $color-white;
  }

  &__description {
    padding: 1rem 2rem;
    max-width: $max-content-width;
    margin: 0 auto;
  }
}

// Summary modal
app-modal {
  app-image-swiper {
    width: 100%;
  }

  // non carousel modal content;
  .summary-modal {
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding: 0 1rem;
      max-width: 40rem;
      margin: auto;
    }
  }
}

@media screen and (min-width: $responsive-width) {
  app-modal {
    app-image-swiper {
      width: 50%;
    }
  }
}
