<div class="splash-dialogue__container">
  <h1 [@splashDialogue]="animate ? 'in' : 'out'"
      (@splashDialogue.done)="animateTitleDone($event)">{{ title }}</h1>
  <div  [@splashDialogue]="titleInState ? 'in' : 'out'"
        (@splashDialogue.done)="animateSubheadingDone($event)"
        class="splash-dialogue__grid">
    <h2>{{ subheading }}</h2>
    <h2 [@dynamicAdjective]="adjectiveInState ? 'in' : 'out'"
        (@dynamicAdjective.done)="dynamicAdjectiveDone($event)"
        class="splash-dialogue__dynamic-text">{{ adjective }}</h2>
    <h2>{{ noun }}</h2>
  </div>
</div>
