@import '../../../styles/variables';

.splash-dialogue {
  &__container {
    margin: $top-navigation-height 0 0 0;
    padding: 0 2rem;
  }

  &__grid {
    position: relative;
    display: flex;
  }

  &__dynamic-text {
    position: relative;
    padding: 0 0.1em;
    text-align: center;
    min-width: 130px;
  }

  @media screen and (min-width: $responsive-width) {
    &__container {
      margin: 0;
    }
  }
}
