@import '../../../styles/variables';

$color-bg: salmon;



.splash {
  &__container {
    background: $color-bg;
    min-height: 100vh;
    //width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__img {
    position: relative;
    margin: 0 5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &__modal {
    width: 50px;
    height: 50px;
    background: white;
  }

  @media screen and (min-width: $responsive-width) {
    &__container {
      flex-direction: row;
    }
  }
}
