<div class="splash__container">
  <h1>Splash</h1>
  <!--<app-splash-dialogue [animate]="splashDialogueAnimate"></app-splash-dialogue>-->
  <!--<img src="assets/images/i-computer.svg"-->
       <!--class="splash__img"-->
       <!--[@image]-->
       <!--(@image.done)="imageAnimateDone()"/>-->

  <!--example modal implementation-->
  <!--<app-modal [visibility]="internalModalVisibility">-->
    <!--<div class="splash__modal">-->
      <!--Splash Modal works-->
    <!--</div>-->
  <!--</app-modal>-->

  <!--<button (click)="toggleModal()">Click</button>-->

  <!--<app-tooltip [caption]="'Testing the caption'"></app-tooltip>-->
</div>
