<div class="tooltip__container"
     (mouseenter)="setVisible(true)"
     (mouseleave)="setVisible(false)"
     (touchstart)="setVisible(true)"
     (touchend)="setVisible(false)">
  <fa-icon class="tooltip__icon" [icon]="faInfoCircle"></fa-icon>

  <div class="tooltip__caption"
       [ngClass]="{'tooltip__caption--right': direction === 'right',
                  'tooltip__caption--left': direction === 'left'}"
       [@visibility]="visible ? 'visible' : 'hidden'">
    <p>{{caption}}</p>
  </div>
</div>

