@import '../../../styles/variables';

$caption-color: $color-white;

@mixin caption-triangle() {
  $_caption-triangle-size: 0.3em;

  position: absolute;
  bottom: calc(-#{$_caption-triangle-size} + 1px);

  content: '';
  border-left: $_caption-triangle-size solid transparent;
  border-right: $_caption-triangle-size solid transparent;

  border-top: $_caption-triangle-size solid $caption-color;
}

@mixin box-shadow-caption-right {
  box-shadow:  $_box-shadow-color .3rem 5px 0;
}

@mixin box-shadow-caption-left {
  box-shadow: $_box-shadow-color -.3rem 5px 0;
}

.tooltip {

  &__container {
    position: relative;
  }

  &__caption {
    position: absolute;
    top: 0;
    width: 12em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0.5rem;

    background: $caption-color;
    color: $color-black;
    border: solid 1px $color-grey;

    opacity: 0;

    // caption bubble to the right triangle on the left end
    &--right {
      left: .2em;

      @include box-shadow-caption-right();

      &::before {
        @include caption-triangle();
        left: .3rem;
      }
    }

    &--left {
      right: .2em;

      @include box-shadow-caption-left();

      &::after {
        @include caption-triangle();
        right: .3rem;
      }
    }

    p {
      margin: 0;
      padding: 0.3em;
    }
  }
}
