$caption-color: white;

.tooltip {

  &__container {
    position: relative;
  }

  &__caption {
    position: absolute;
    top: 0;
    left: .2em; // required because of icon used
    min-width: 8em;
    max-width: 20em;

    padding: .1em;
    background: $caption-color;
    opacity: 0;

    &::before {
      $_caption-triangle-size: 0.3em;

      position: absolute;
      bottom: calc(-#{$_caption-triangle-size} + 1px);
      left: 0;

      content: '';
      border-left: $_caption-triangle-size solid transparent;
      border-right: $_caption-triangle-size solid transparent;

      border-top: $_caption-triangle-size solid $caption-color;
    }
  }
}
