$caption-color: white;

@mixin caption-triangle() {
  $_caption-triangle-size: 0.3em;

  position: absolute;
  bottom: calc(-#{$_caption-triangle-size} + 1px);

  content: '';
  border-left: $_caption-triangle-size solid transparent;
  border-right: $_caption-triangle-size solid transparent;

  border-top: $_caption-triangle-size solid $caption-color;
}

.tooltip {

  &__container {
    position: relative;
  }

  &__caption {
    position: absolute;
    top: 0;
    //left: .2em; // required because of icon used
    width: 12em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background: $caption-color;
    opacity: 0;

    // caption bubble to the right triangle on the left end
    &--right {
      left: .2em;

      &::before {
        @include caption-triangle();
        left: 0;
      }
    }

    &--left {
      right: .2em;

      &::after {
        @include caption-triangle();
        right: 0;
      }
    }

    p {
      margin: 0;
      padding: 0.3em;
    }
  }
}
