@import '../../../styles/variables';

$_close_icon_padding: 1rem;

.modal {
  &__stage {
    position: fixed;
    top: $top-navigation-height;
    left: 0;
    width:  100vw;
    height: calc(100vh - #{$top-navigation-height});

    display: flex;
    justify-content: center;
    align-items: flex-start;


    z-index: $route-layer;

    &--desktop {
      left: $side-menu-width;
      width: calc(100vw - #{$side-menu-width});

      padding-top: $top-navigation-height;
    }
  }

  &__container {
    position: relative;
    overflow-y: auto;
    background-color: white;

    &--visible {
      visibility: visible;
    }

    &--mobile {
      width: 100%;
      height: 100%;
    }

    &--desktop {
      $_modal_padding: 1rem;
      max-width: calc(#{$max-content-width} + #{$_modal_padding});
      padding: $_modal_padding;
      max-height: 50vh;
    }
  }

  &__content {
    box-sizing: border-box;
  }

  &__close {
    font-size: 2rem;
    position: absolute;
    top: $_close_icon_padding;
    right: $_close_icon_padding;

    z-index: 1;
  }
}
