@import '../../../styles/variables';

.nav {
  position: fixed;
  height: $top-navigation-height;
  width: 100%;

  top: 0;
  left: 0;
  z-index: $modal-layer;

  display: flex;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 1);

  app-hamburger {
    margin: 0 1rem;
  }

  &__logo {
    margin: 0 1rem 0 auto;
  }
}

@media screen and (min-width: $responsive-width) {
  .nav {

    &__logo {
      margin: 0 1rem;
    }
  }
}
