@import '../../../styles/variables';

.skills {
  &__container {
    width: 100vw;
    height: 100vh;

    box-sizing: border-box;
    padding-top: $top-navigation-height;
    background-color: cadetblue;

    display: flex;
    flex-direction: column;
  }

  &__list > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;

    li {
      text-align: center;
      flex: 1;
    }

    img {
      background: red;
      border-radius: 50%;
      width: 10rem;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__description {
    padding: 0 2rem;
    flex: 0.5;

    h2 {
      text-align: center;
    }
  }

  &__logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    fa-icon,
    img {
      font-size: 3rem;
      width: 3rem;
      height: 3rem;
    }
  }

  &__logo-item {
    padding: 0 .5rem;
  }
}

@media screen and (min-width: 1024px) {
  .skills {
    &__details {
      flex-direction: row;
    }
  }
}
