<div class="skills__container">
  <div class="skills__list">
    <ul *ngIf="!(isResponsiveBreakpoint | async)">
      <li *ngFor="let skill of config.skills; let i = index"
          (click)="updateCurrentSkill(skill)">
        <img src="{{skill.icon}}" role="button"
             alt="{{skill.name}}"/>
        <h2>{{skill.name}}</h2>
      </li>
    </ul>
    <app-carousel *ngIf="isResponsiveBreakpoint | async"
                  [items]="config.skills"
                  [currentItem]="currentSkill"
                  [clickItemFn]="updateCurrentSkill"></app-carousel>
  </div>
  <div class="skills__details">
    <div class="skills__description">
      <p id="{{i + 'Description'}}">{{currentSkill.description}}</p>
    </div>
    <app-skill-meter [skill]="currentSkill"></app-skill-meter>
  </div>
</div>
