<div class="skills__container route__container">
  <div class="skills__item"
       *ngFor="let currentSkill of skills; let i = index">
    <div class="skills__details">
      <div class="skills__description">
        <h2>{{currentSkill.name}}</h2>
        <p id="{{i + 'Description'}}">{{currentSkill.description}}</p>
      </div>
      <app-skill-meter [skill]="currentSkill"
                       (clickItem)="launchModal($event)"></app-skill-meter>
    </div>
  </div>
</div>
<app-modal [visibility]="internalModalVisibility"
           [modalContent]="modalContent">
  <ng-template #modalContent>
    <div class="skills__modal">
      <h1>{{subSkill.name}}</h1>
      <app-star-meter *ngIf="internalModalVisibility" [rating]="subSkill.rating"></app-star-meter>
      <p>{{subSkill.description}}</p>
      <div class="skills__logos"
           [@icon]="subSkill.technologies.length">
        <a class="skills__logo-item"
           *ngFor="let tech of subSkill.technologies"
           href="{{tech.website}}"
           target="_blank"
        >
          <img src="{{tech.logo}}"/>
        </a>
      </div>
    </div>
  </ng-template>
</app-modal>

