nav {
  position: fixed;
  left: 0;
  top: 5rem;
  height: calc(100vh - 5rem);
  width: 80vw;
  max-width: 325px;
  background-color: black;

  display: flex;
  flex-direction: column;

  z-index: 3;

  a {
    margin: 2rem 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
  }
}
