@import '../../../styles/variables';

nav {
  position: fixed;
  left: 0;
  top: $top-navigation-height;
  height: calc(100vh - #{$top-navigation-height});
  width: $side-menu-width;
  background-color: $color-white;

  @include box-shadow-right();

  display: flex;
  flex-direction: column;

  z-index: $modal-layer;

  a {
    font-family: 'Rubik';
    font-weight: $font-regular;
    padding: 2rem 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-black;

    transition: color 400ms ease-in-out;

    &:hover {
      color: $color-white;
      background: $color-grey;

      @include box-shadow-bottom();
    }

    &:active,
    &.active {
      color: $color-white;
      background: $color-blue;

      @include box-shadow-bottom();
    }
  }
}
