@import '../../../styles/variables';

nav {
  position: fixed;
  left: 0;
  top: $top-navigation-height;
  height: calc(100vh - #{$top-navigation-height});
  width: $side-menu-width;
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;

  z-index: $modal-layer;

  a {
    padding: 2rem 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
  }
}
